$innerWidth: 1920px;
$innerHeight: 1080px;
$fontSize: 16px;

@function px_2_rem($px) {
	@return ($px / $fontSize) * 1rem;
}

@function px_2_vw($px) {
	@return $px * 100vw / $innerWidth;
}

@function px_2_vh($px) {
	@return $px * 100vh / $innerHeight;
}

$spacing: px_2_vw(20px);

html {
	font-size: $fontSize;
}
